<div class="jumbotron">
  <div class="container">
  <h1 class="titulos">UTNG</h1>
  <h2 class="titulos">Otro titulo</h2>
  <a href="http://www.utng.edu.mx/" class="btn btn-default">
    <span class="glyphicon glyphicon-flag" style="color:orange"></span>
    UTNG Oficial</a>
  </div>
  </div>

<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="page-header">
      <h2 style="display: inline">Page Header</h2>
      <span class="label label-default">New</span>
    </div>
<a href="http://www.utng.edu.mx/" target="_blank">UTNG Oficial en otra pagina</a>
<h2>Misión</h2>
<p class="titulos">Somos una institución de educación superior tecnológica que forma profesionistas competitivos a través de programas de calidad para contribuir al desarrollo del estado.</p>

  </div>
  <div class="col-md-4">
    <div class="page-header">
    <h2>Page Header</h2>
    </div>

<h3>Visión</h3>
<p>En el 2020 seremos reconocidos por nuestros egresados formados integral y globalmente, con empleabilidad acorde a su perfil superior a la media estatal; por nuestros programas de grado acreditados o evaluados al 100% y por contar con un postgrado; 15 % de nuestros profesores participarán en programas de movilidad y 50% de los cuerpos académicos estarán consolidados.</p>
<p>Nos distinguiremos por un ambiente de equidad y sustentabilidad reconocidas y participaremos en 3 programas de investigación aplicada orientados a la innovación y transferencia tecnológica en proyectos sociales y productivos.</p>

  </div>

  <div class="col-md-4">
    <div class="page-header">
    <h2>Page Header</h2>
    </div>

<h4>Valores</h4>
<p>Para la UTNG los valores son el marco del comportamiento que deben tener sus integrantes, estos se determinaron en base a la razón de ser; al propósito de creación; y a la proyección en el futuro (visión) de la institución quedando redactados y descritos de la manera siguiente:</p>

<h6>Política de Calidad</h6>
<p>La Universidad Tecnológica del Norte de Guanajuato se compromete con sus alumnos y la sociedad a ofrecer servicios educativos del nivel superior así como servicios de educación continua y tecnológicos con calidad, empleando de manera eficiente los recursos y aplicando la mejora continua en beneficio del desarrollo regional y ambiental previniendo la contaminación y apegándose a las disposiciones legales ambientales.</p>

<a href="www.utng.edu.mx">
<img src="http://www.utng.edu.mx/images/BotonesCarreras/TecnologiasInge.png" alt="Logo TIC's">
</a>

<hr>
<br>

  <img src="http://4.bp.blogspot.com/-bl2wNhDmUcI/UdJYhyPY37I/AAAAAAAAAEI/uiSP6yJvZdI/s1600/utng.png" class="img-responsive">

  <ol>
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
  </ol>

  </div>
</div>
</div>